.popup {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(1, 1, 1, 0.979);
    z-index: 2;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.orderForm {
    background-color: rgb(37, 37, 37);
    width: 800px;
    height: 620px;
    position: relative;
    border-radius: 40px;

}

.orderCloseIcon {
    width: 28px;
}

.orderClose {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 25px;
}
.orderForm{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.orderFormTitle{
    margin-top: 20px;
    font-size: 28px;
}
.orderFormSubtitle{
    margin-top: 20px;
    align-items:center;
    padding-left: 40px;
}
form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.formName, .formPhone, .textarea{
    outline: 0;
    outline-offset: 0;
    border: none;
    color:honeydew;
    font-size: 26px;
    border: 1px solid #c5c5c5;
    border-radius:5px;
    width: 500px;
    height: 50px;
    background-color:gray;
    padding-right: 20px;
    margin-bottom: 20px;
}
.textarea{
    min-height: 200px;
}
.formName::placeholder, .formPhone::placeholder, .textarea::placeholder{
    color:rgb(187, 187, 187);
    font-size: 26px;
    padding-right: 10px;
    margin-right: 20px;
}
.textarea::placeholder{
    padding-right: 20px;
}
input{
    padding-left: 10px;
}
textarea{
    padding-left: 10px;
}
.checkbox{
    display: flex;
    align-items:center;

    margin-bottom: 20px;
}
.formCheckbox{
    margin-right: 10px;
}
.btn{
    cursor: pointer;
    transition:0.5s ease-in;
    color:white;
    height: 50px;
    width: 250px;
    border: none;
    background-color:red;
    border:2px solid red;
    font-size: 20px;

}
.btn:hover{
    background-color:white;
    border:2px solid red;
    color:red;
}